<div class="form_body">
    <h1>Delivery Address</h1>
    <div class="inputs">
        
        <!--The firstname input-->
        <label for="firstname">FIRST NAME</label>
        <div class="input-group col-xs-12">
            <input type="text" id="firstname" name="first" class="input col-xs-12" placeholder="First Name" ng-model="order.first" 
                   required ng-pattern="regex.letters" ng-minlength="2" ng-maxlength="25"
                   ng-class="{ 'has-error': orderForm.first.$dirty && orderForm.first.$invalid && orderForm.first.$touched }"><br>
        
        <!--Error messages-->
        <div class="help-block" ng-messages="orderForm.first.$error" ng-if="orderForm.first.$invalid && orderForm.first.$dirty && orderForm.first.$touched">
            <p class="error" ng-message="pattern">First Name contains special characters.</p>
            <p class="error" ng-message="minlength">First Name is too short.</p>
            <p class="error" ng-message="maxlength">First Name is too long.</p>
            <p class="error" ng-message="required">First Name is required.</p>
        </div>
        </div>
        
        <label for="surname">SURNAME</label>
        <div class="input-group col-xs-12">
            <!--The surname input-->
            <input type="text" id="surname" name="last" class="input col-xs-12" placeholder="Surname" ng-model="order.last" 
                   required ng-minlength="2" ng-maxlength="25" ng-pattern="regex.letters"
                   ng-class="{ 'has-error': orderForm.last.$dirty && orderForm.last.$invalid && orderForm.last.$touched }"><br>
        
        <!--Error messages-->
        <div class="help-block" ng-messages="orderForm.last.$error" ng-if="orderForm.last.$invalid && orderForm.last.$dirty && orderForm.last.$touched">
            <p class="error" ng-message="pattern">Surname contains special characters.</p>
            <p class="error" ng-message="minlength">Surname is too short.</p>
            <p class="error" ng-message="maxlength">Surname is too long.</p>
            <p class="error" ng-message="required">Surname is required.</p>
        </div>
        </div>
        
        <label for="street">Street/NO</label>
        <div class="input-group col-xs-12">
            <!--The street input-->
            <input type="text" id="street" name="street" class="input col-xs-9 m-r street" placeholder="Street" ng-model="order.street" 
                   required ng-minlength="3" ng-maxlength="25" ng-pattern="regex.letters"
                   ng-class="{ 'has-error': orderForm.street.$dirty && orderForm.street.$invalid && orderForm.street.$touched }">
            <!--Error messages-->
            <div class="help-block" style="width:80%" ng-messages="orderForm.street.$error" ng-if="orderForm.street.$invalid && orderForm.street.$dirty && orderForm.street.$touched">
                <p class="error" ng-message="pattern">Street name contains special characters.</p>
                <p class="error" ng-message="minlength">Street name is too short.</p>
                <p class="error" ng-message="maxlength">Street name is too long.</p>
                <p class="error" ng-message="required">Street is required.</p>
            </div>
            
            <!--The street number input-->
            <input type="text" id="no" name="no" class="input col-xs-2 no" placeholder="No." ng-model="order.no" 
                   required ng-pattern="regex.numbers"
                   ng-class="{ 'has-error': orderForm.no.$dirty && orderForm.no.$invalid && orderForm.no.$touched }">
            <!--Error messages-->
            <div class="help-block only_num right" id="street_no_err" ng-messages="orderForm.no.$error" ng-if="orderForm.no.$invalid && orderForm.no.$dirty && orderForm.no.$touched">
                <p class="error" ng-message="required">Required.</p>
                <p class="error" ng-message="pattern">Only numbers allowed.</p>
            </div>
        </div>
        
        <label for="street">POSTCODE/CITY</label>
        <div class="input-group col-xs-12">
            <!--The postcode input-->
            <input type="text" id="post" name="postcode" class="input col-xs-3 m-r postcode" placeholder="Postcode" ng-model="order.postcode" 
                   required ng-pattern="regex.numbers"
                   ng-class="{ 'has-error': orderForm.postcode.$dirty && orderForm.postcode.$invalid && orderForm.postcode.$touched }">
            <!--Error messages-->
            <div class="help-block only_num" id="postcode_err" ng-messages="orderForm.postcode.$error" ng-if="orderForm.postcode.$invalid && orderForm.postcode.$dirty && orderForm.postcode.$touched">
                <p class="error" ng-message="required">Required.</p>
                <p class="error" ng-message="pattern">Only numbers allowed.</p>
            </div>

            <!--The city input-->
            <input type="text" id="city" name="city" class="input col-xs-8 city" placeholder="City" ng-model="order.city" 
                   required ng-minlength="3" ng-maxlength="25" ng-pattern="regex.letters"
                   ng-class="{ 'has-error': orderForm.city.$dirty && orderForm.city.$invalid && orderForm.city.$touched }">
            <!--Error messages-->
            <div class="help-block right" style="width:70%" ng-messages="orderForm.city.$error" ng-if="orderForm.city.$invalid && orderForm.city.$dirty && orderForm.city.$touched">
                <p class="error" ng-message="pattern">City contains special characters.</p>
                <p class="error" ng-message="minlength">City is too short.</p>
                <p class="error" ng-message="maxlength">City is too long.</p>
                <p class="error" ng-message="required">City is required.</p>
            </div>
        </div>
    </div>
</div>
<div class="form_end col-xs-12">
    <span id="back" class="col-xs-2 back" ui-sref="order.food" ng-click="mark('order', false)">Back</span>
    <button class="main-red-btn center-block" name="submit" ui-sref="order.finish" ng-disabled="orderForm.$invalid" ng-click="process(); mark('finish', true)"><span class="call_to_action next">Next</span></button>
</div>








